AMQP_URL=amqp://{{ rabbitmq_user }}:{{ rabbitmq_pass }}@{{ rabbitmq_host }}:{{ rabbitmq_port }}/%2F
CONFIG={{ app_config }}
CONSOLE_LOG_LEVEL={{ app_log_level }}
SYSTEM_LOG_LEVEL={{ system_log_level }}
DATABASE_URI=postgresql://{{ database_user }}:{{ database_pass }}@{{ database_host }}/{{ database_port }}/{{ database_name }}
ELASTICSEARCH_URI=http://{{ elasticsearch_host }}:{{ elasticsearch_port }}
ELASTICSEARCH_PASSWORD={{ elasticsearch_pass }}
REDIS_HOST={{ redis_host }}
REDIS_PORT={{ redis_port }}
WEBSOCKETS_HOST={{ websockets_host }}
WEBSOCKETS_PORT={{ websockets_port }}
SECRET_KEY={{ app_secret_key }}
KIBANA_SECRET_KEY={{ kibana_secret_key }}

