server:
  name: {{ project_name }}
  host: 0.0.0.0
  basePath: /kibana
  rewriteBasePath: true
elasticsearch:
  hosts: [ "http://{{ elasticsearch_host }}:{{ elasticsearch_port }}" ]
  serviceAccountToken: SERVICE_ACCOUNT_TOKEN
xpack.security:
  authc:
    providers:
      basic.basic1:
        order: 0
        icon: "logoElasticsearch"
    selector:
      enabled: true
